<%- include('header'); -%>
<div class="menu bg-light fixed-top">
	<div class="container-fluid">
		<div class="row py-2 align-items-end">
			<div class="col-6">
				<a href="/table3" class="btn btn-secondary">Back</a>
			</div>
		</div>
	</div>
</div>
	</div><div class="container-fluid" style="margin-top: 80px">
	<div class="row">
		<div class="col-12">
			<form class="border border-light p-5" method="post" action="/update3">
                <input value="<%= data ? data.BRANCH : '' %>" type="text" class="form-control" placeholder="Branch Name" name="BRANCH">
                <input value="<%= data ? data.MEMBERSHIP : '' %>" type="text" class="form-control" placeholder="Membership" name="MEMBERSHIP">
                <input value="<%= data ? data.REGION : '' %>" type="text" class="form-control" placeholder="Region" name="REGION">
                <input value="<%= data ? data.MAIL_CONTACT : '' %>" type="text" class="form-control" placeholder="MAIL_CONTACT :" name="MAIL_CONTACT">
                <input value="<%= data ? data.Notes : '' %>" type="text" class="form-control" placeholder="Note" name="Notes">
                <input value="<%= data ? data.COORDINATOR : '' %>" type="text" class="form-control" placeholder="Coordinator" name="COORDINATOR">
                <input value="<%= data ? data.PHONE : '' %>" type="text" class="form-control" placeholder="Phone - Landline :" name="PHONE">
                <input value="<%= data ? data.HOME : '' %>" type="text" class="form-control" placeholder="Phone - Home :" name="HOME">
                <input value="<%= data ? data.MOBILE : '' %>" type="text" class="form-control" placeholder="Phone - Mobile :" name="MOBILE">
                
                <input value="<%= data ? data.FAX: '' %>"" type="text" class="form-control" placeholder="Fax :" name="FAX">
                <input value="<%= data ? data.EMAIL: '' %>"" type="text" class="form-control" placeholder="EMAIL" name="EMAIL">
                <input value="<%= data ? data.ADDRESS_LINE_2_PO_BOX_STREET: '' %>"" type="text" class="form-control" placeholder="Address 2" name="ADDRESS_LINE_2_PO_BOX_STREET">
                <input value="<%= data ? data.ADDRESS_LINE_3_SUBURB_TOWN : '' %>"" type="text" class="form-control" placeholder="Postcode" name="ADDRESS_LINE_3_SUBURB_TOWN">
                <input value="<%= data ? data.OTHER_CONTACTS: '' %>"" type="text" class="form-control" placeholder="Other Contact" name="OTHER_CONTACTS">
                
                <b>Audit Received</b>
                <label class="check_label text-center1" for="ar_11">2011 Audit Recd</label><br/>
                <input value="<%= data ? data.ar_11: '' %>"" type="checkbox" class="form-control" placeholder="2012 Audit Recd" name="ar_11">
                <label class="check_label text-center1" for="ar_12">2012 Audit Recd</label>
                <input value="<%= data ? data.ar_12: '' %>"" type="checkbox" class="form-control" placeholder="2012 Audit Recd" name="ar_12">
                
                <br/>    
                <b>PRESIDENT</b>    
                <input value="<%= data ? data.PRESIDENT: '' %>"" type="text" class="form-control" placeholder="President" name="name_pres">
                <input value="<%= data ? data.PRES_PHONE: '' %>"" type="tel" class="form-control" placeholder="Phone - Landline :" name="phone_pres">
                <input value="<%= data ? data.PRES_ADDRESS: '' %>"" type="text" class="form-control" placeholder="Address" name="address_pres">
                <b> Vice-President</b>
                <input value="<%= data ? data.name_vp: '' %>""  type="text" class="form-control" placeholder="Vice President" name="name_vp">
                <input value="<%= data ? data.phone_vp: '' %>"" type="text" class="form-control" placeholder="Phone - Landline : " name="phone_vp">
                <input value="<%= data ? data.address_vp: '' %>"" type="text" class="form-control" placeholder="Address" name="address_vp">
                <br/>
                <b>SECRETARY</b>

                <input value="<%= data ? data.name_sec: '' %>"" type="text" class="form-control" placeholder="Secretary" name="name_sec">
				<input value="<%= data ? data.phone_sec : '' %>"" type="text" class="form-control" placeholder="Phone - Landline : " name="phone_sec">
                <input value="<%= data ? data.address_sec : '' %>"" type="text" class="form-control" placeholder="Address" name="address_sec">          
                
                <br/>
                <b> TREASURER</b>
                <input value="<%= data ? data.name_tr : '' %>"" type="text" class="form-control" placeholder="Treasurer" name="name_tr">
                <input value="<%= data ? data.phone_tr: '' %>"" type="text" class="form-control" placeholder="Phone - Landline : " name="phone_tr">
                <input value="<%= data ? data.address_tr: '' %>"" type="text" class="form-control" placeholder="Address" name="address_tr">
                <br/>
                
                <b> Trailer</b>
                <input type="text" class="form-control" placehold <label class="check_label text-center1" for="MERV_Trailer">MERV Trailer</label>
                <input value="<%= data ? data.MERV_Trailer: '' %>""  type="checkbox" class="form-control mt-2"name="MERV_Trailer">
                <label class="check_label text-center1 mt-2" for="other">Other Trailer 1</label>
                <input value="<%= data ? data.Other_Trailer_1: '' %>"" type="checkbox" class="form-control mt-2" name="Other_Trailer_1"><br/>
                <input  value="<%= data ? data.rego_trailer: '' %>"" type="text" class="form-control" placeholder="Rego" name="rego_trailer">
				<input value="<%= data ? data.desc_trailer: '' %>"" type="text" class="form-control" placeholder="Description" name="desc_trailer">
                <label class="check_label text-center1 mt-2" for="other">Other Trailer 2</label>
                <input value="<%= data ? data.Other_Trailer_2: '' %>"" type="checkbox" class="form-control mt-2"  name="Other_Trailer_2"><br/>
                <input  value="<%= data ? data.rego_trailer_2: '' %>"" type="text" class="form-control" placeholder="Rego" name="rego_trailer">
                <input value="<%= data ? data.desc_trailer_2: '' %>"" type="text" class="form-control" placeholder="Description" name="desc_trailer">

                <br/>


                
                
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
        </div>
    </div>
</div>
<%- include('footer'); -%>
