<%- include('header'); -%>
<div class="menu bg-light fixed-top">
	<div class="container-fluid">
		<div class="row py-2 align-items-end">
			<div class="col-6">
				<a href="/table5" class="btn btn-secondary">Back</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" style="margin-top: 80px">
	<div class="row">
		<div class="col-12">
			<form class="border border-light p-5" method="post" action="/update5">
				<div class="form-group">
					<input value="<%= data ? data.ID : '' %>" type="text" name="ID" hidden />
					<div class="mb-2">
						<label>QPS AGM Invites</label>
						<input value="<%= data ? data.Title : '' %>" type="text" class="form-control"
							placeholder="title" name="Title" />
					</div>
					<div class="mb-2">
						<label>Given_names</label>
						<input value="<%= data ? data.FirstName : '' %>" type="text" class="form-control" placeholder="Given Names"
							name="FirstName" />
					</div>
					<div class="mb-2">
						<label>Surname</label>
						<input value="<%= data ? data.Surname: '' %>" type="text" class="form-control"
							placeholder="surname" name="Surname" />
					</div>
					<div class="mb-2">
						<label>Region</label>
						<input value="<%= data ? data.Region : '' %>" type="text" class="form-control"
							placeholder="region" name="Region" />
					</div>
					<div class="mb-2">
						<label>Address1</label>
						<input value="<%= data ? data.Address1 : '' %>" type="text" class="form-control"
							placeholder="address_1" name="Address1" />
					
                    </div>
                
                    <div class="mb-2">
						<label>Address2</label>
						<input value="<%= data ? data.Address2 : '' %>" type="text" class="form-control"
							placeholder="address_2" name="Address2" />
					
                    </div>
                    <div class="mb-2">
						<label>State</label>
						<input value="<%= data ? data.State : '' %>" type="text" class="form-control"
							placeholder="state" name="State" />
					
                    </div>
                    <div class="mb-2">
						<label>Postcode</label>
						<input value="<%= data ? data.Postcode : '' %>" type="text" class="form-control"
							placeholder="postcode" name="Postcode" />
					
				    </div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
<%- include('footer'); -%>
